build/
receiver/build/
receiver/CMakeFiles/
receiver/CMakeCache.txt
receiver/cmake_install.cmake
receiver/Makefile
receiver/.cache
injector/build/
injector/CMakeFiles/
injector/CMakeCache.txt
injector/cmake_install.cmake
injector/Makefile
injector/.cache
visualizer/build/
visualizer/CMakeFiles/
visualizer/CMakeCache.txt
visualizer/cmake_install.cmake
visualizer/Makefile
visualizer/.cache
db_interface/build/
db_interface/CMakeFiles/
db_interface/CMakeCache.txt
db_interface/cmake_install.cmake
db_interface/Makefile
db_interface/.cache
test_scripts/first_exec
test_scripts/first_exec_child1
test_scripts/second_exec
test_scripts/second_exec_child1
test_scripts/test_fork_execv
test_scripts/test_hooks_synthetic
test_scripts/test_hooks_synthetic_clang
test_scripts/test_hooks_synthetic_go
test_scripts/test_multithreading
model_graphs/*
!model_graphs/
!model_graphs/database_model.dot
!model_graphs/component_graph.dot
!model_graphs/example2.dot

*.o
*.so
*.a
*.dylib
*.dll
*.exe
